body{
    background-image: url(../img/INTELIGENCIA-ARTIFICIAL.jpg);
    background-size: 100%;
    color: white;
}
main{
    background-color: rgba(95, 92, 92, 0.512);
    
}
header{
    background-color:  #390ca317;
    height: 5em;
    width: 100%;
    font-size: 1.2em;
    padding: 1px;
}
.img{
    float: left;
    margin: 1.5em 0 0 70px;
}
nav ul li{
    float: right;
    list-style: none;
    text-align: center;
    padding: 1.2em;
    margin-top: -10px;
}
#foto{
    width: 100%;
    text-align: center;
}
#foto img{
    width: 100%;
    margin: auto;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    display: block;
    font-size: 0.9em;
    text-shadow: -2px 2px 2px #000000;
}
nav ul li a:hover{
    color: rgba(111, 0, 255, 0.76);
}
#as{
    text-align: center;
    font-size: 1.5em;
}
#sa{
    text-align: center;
    font-size: 1.1em;
}
nav a{
    font-size: 0.8em;
    letter-spacing: 5px;
    transition: color 0.5s ease;
}
.tipos h1{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-shadow: -2px 1px 1px #000000;
}
.tipos p{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    line-height: 2;
    text-shadow: -2px 1px 1px #000000;
}
.texto-destaque img{
    width: 100%;
}
.destaque{
    text-align: center;
    padding: 5em;
}

.texto-destaque h1{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-shadow: -2px 1px 1px #000000;
}
.texto-destaque p{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    line-height: 2;
    text-shadow: -2px 1px 1px #000000;
}

.galeria{
    color: #cfc5c5;
    padding: 50px 100px;
    overflow: auto;
    text-align: center;
    
}
.galeria-imagem{
    width: 33.3%;
    float: left;
    text-align: center;
    padding-bottom: 5em;
}

.galeria-titulo{
    color: #1c4923;
    letter-spacing: 4px;
    font-size: 0.55cm;
    text-transform: uppercase;
    font-weight: 600;
}

.galeria-conteudo{
    color: #1f2022;
    font-size: 0.99em;
}

.sobre{
    background-color:  #390ca311;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 100px;
    color: rgb(255, 255, 255);
}
.sobre h2{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 
    -3px 3px 3px #000000
    ;
}

.sobre p{
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2em;
    text-shadow: -2px 2px 2px #000000;
}
.sobre img{
    margin: 2.2em 0 0 350px;
}
.contato, .cadastro{
    margin: 50px 0;
}

.contato address{
    color:#1f2022;
    text-transform: uppercase;
    font-size: 1.2em;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}
    
.cadastro{
    color:#1f2022;
    text-transform: uppercase;
    font-size: 1em;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.mapa iframe{
    width: 100%;
    height: 450px;
}
.rodape{
    background-color: #390ca311;
    padding: 25px;
    color: whitesmoke;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 5px;
    margin-top: 30px;
}